<!DOCTYPE html>
<html>
  <head>
    <title>Opus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/ui/dist/tailwind-ui.min.css"
    />
    <%= stylesheet_pack_tag 'index' %>
    <%# <%= stylesheet_pack_tag 'dropzone' %> %>
  </head>

  <body>
    <%= yield %>
    <div id="headlessui-portal-root" /> <%# Temporary fix for headlessui portal disappearing on navigation... No known proper fix yet %>
  </body>
</html>
